<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.mapper.TsMapper">
    <insert id="batchInsertTsIndex" parameterType="java.util.List">
        insert into ts_index (id, ts_id, ts_no, ts_validity, ts_name, ts_pub_dept, status) values
        <foreach collection="list" item="tsIndex" separator="," close=";">
            (#{tsIndex.id},#{tsIndex.tsId},#{tsIndex.tsNo},#{tsIndex.tsValidity},
            #{tsIndex.tsName},#{tsIndex.tsPubDept},#{tsIndex.status})
        </foreach>
    </insert>

    <update id="batchUpdateTsIndex" parameterType="java.util.List">
        update ts_index
        set status =
        <foreach collection="list" item="tsIndex" separator=" " open="case id" close="end">
            when #{tsIndex.id} then '1'
        </foreach>
        where id in
        <foreach collection="list" item="tsIndex" separator="," open="(" close=")">
            #{tsIndex.id}
        </foreach>
        and status = '0'

    </update>

    <select id="findSubTsIndexList" parameterType="java.util.List" resultType="com.wisea.entity.TsIndex">
        select id,ts_id,ts_no,ts_validity,ts_name,ts_pub_dept,status from ts_index
        where ts_id in
        <foreach collection="list" item="tsId" separator="," open="(" close=")">
            #{tsId}
        </foreach>
    </select>

    <insert id="batchInsertTsDetail" parameterType="java.util.List">
        insert into ts_detail (id, ts_id,ts_no,ts_country,ts_validity,ts_name,ts_ens_name,
        ts_pub_dept,ts_class,ics_class,pub_date,impl_date,pub_no,official_source,ts_summary,
        instead_ts,current_ts,modif_list) values
        <foreach collection="list" item="tsDetail" separator="," close=";">
            (#{tsDetail.id},#{tsDetail.tsId},#{tsDetail.tsNo},#{tsDetail.tsCountry},#{tsDetail.tsValidity},
            #{tsDetail.tsName},#{tsDetail.tsEnsName},#{tsDetail.tsPubDept},#{tsDetail.tsClass},
            #{tsDetail.icsClass},#{tsDetail.pubDate},#{tsDetail.implDate},#{tsDetail.pubNo},
            #{tsDetail.officialSource},#{tsDetail.tsSummary},#{tsDetail.insteadTs},#{tsDetail.currentTs},
            #{tsDetail.modifList})
        </foreach>
    </insert>

<!--    <update id="batchUpdateTsDetail" parameterType="com.wisea.entity.TsDetailSqlParam">-->
<!--        update ts_detail-->
<!--        set fc_prod_type_id =-->
<!--        <foreach collection="tsIds" item="tsId" separator=" " open="case ts_id" close="end,">-->
<!--            when #{tsId} then #{fcProdType.id}-->
<!--        </foreach>-->
<!--        fc_prod_type_name =-->
<!--        <foreach collection="tsIds" item="tsId" separator=" " open="case ts_id" close="end,">-->
<!--            when #{tsId} then #{fcProdType.name}-->
<!--        </foreach>-->
<!--        link_name =-->
<!--        <foreach collection="tsIds" item="tsId" separator=" " open="case ts_id" close="end">-->
<!--            when #{tsId} then #{linkName}-->
<!--        </foreach>-->
<!--        where ts_id in-->
<!--        <foreach collection="tsIds" item="tsId" separator="," open="(" close=")">-->
<!--            #{tsId}-->
<!--        </foreach>-->
<!--    </update>-->

    <delete id="deleteFcProdTypeTsByRelaParent" parameterType="com.wisea.entity.RelaParentSqlParam">
        delete from fc_prod_type_ts
        where
        fc_prod_type_code = #{fcProdTypeCode}
        and link_name = #{linkName}
        and ts_id in
        <foreach collection="tsIds" item="tsId" separator="," open="(" close=")">
            #{tsId}
        </foreach>
    </delete>

    <insert id="batchInsertFcProdTypeTs" parameterType="com.wisea.entity.FcProdTypeTsSqlParam">
        insert into fc_prod_type_ts(id,fc_prod_type_id,fc_prod_type_code,fc_prod_type_name,link_name,ts_id,ts_name) values
        <foreach collection="list" item="tsDetail" separator="," close=";">
         (#{tsDetail.fcProdTypeTsId},#{fcProdType.id},#{fcProdType.fcTypeCode},#{fcProdType.name},#{linkName},#{tsDetail.tsId},#{tsDetail.tsName})
        </foreach>
    </insert>
</mapper>